.alignments {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}


/* Upload Section ============================================================ */

#div-add {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content:space-around;
    background-color: white;
    height: 100vh;
    margin-top: 8vh;
}

#add {
    
    background: white;
    height: 100vh;
    width: 18vw;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#upload-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    margin-top: 10vh;
}

.upld-btn {
    background:black;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

#grade-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

#grds {
    height: 3vh;
    border: none;
    background: rgba(151,123,95,1) 76%;
    border-radius: .5vh;
    padding: 3px;
}

#tms {
    height: 3vh;
    border: none;
    background:rgba(151,123,95,1) 76%;
    ;
    border-radius: .5vh;
    padding: 3px;
}

#time-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
    font-family: Arial, Helvetica, sans-serif;
}

#title-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
}

#title-add {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-color: antiquewhite;
}

#photo-add {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-color: antiquewhite;
}

#proj-idea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background: rgba(151,123,95,1) 76%;
    border-radius: 1vh;
    border: none;
}

.upload-button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background: rgba(151,123,95,1) 76%;
    border-radius: 1vh;
    border: none;
}


/* Display Section =========================================================== */

#div-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    width: 40vw;
    margin-top: 8vh;
}

.post {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-color: antiquewhite;
    padding: 1vh;
    border-radius: 10px;
}

#post-title {
    font-size: 3vh;
    margin-bottom: 1.5vh;
    font-family: Arial, Helvetica, sans-serif;
}

#post-contents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 30vh;
}

#special-notice {
    width: 8vw;
}

#images {
    width: 20vw;
    display: flex;
    justify-content: center;
}

.pictures {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

#empty {
    width: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 2vh;
}

.delete-button {
    background: rgba(151,123,95,1) 76%;
    border-radius: 10px;
}


/* List Section ============================================================== */

.div-list {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 18vw;  
    margin-top: 8vh;
}

#clmb-list {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.list-icon {
    background: rgba(151,123,95,1) 76%;
    /* background: linear-gradient(164deg, rgba(248,252,255,1) 0%, rgb(253, 223, 190) 76%, rgba(82,60,39,1) 100%); */
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
    font-family: Arial, Helvetica, sans-serif;
}

#new-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
}

#list-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
}


/* Header ==================================================================== */

#full-head {
    position: fixed;
}

#header-over {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: absolute;
    width: 98vw;
    height: 10vh;
}

#header-div {
    position: absolute;
    display: flex;
    flex-direction: row;
    background: rgb(255, 255, 255);
    z-index: 0;
    width: 98vw;
    height: 10vh;
}

.block {
    min-height: 8vh;
    width: 50%;
    width: calc(50% + 2rem);
}

.div-left {
    float:left;
    clip-path: polygon(0 0, 100% 0, calc(100% - 3rem) 100%, 0% 100%);
    background-image: url("indoor.jpeg");

}

.div-right {
    float:right;
    margin-left: -2rem;
    clip-path: polygon(3rem 0, 100% 0, 100% 100%, 0% 100%);
    background-image: url("outdoor.jpg");
    background-size: cover;
}


/* Other ============================================================ */

h1 {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 8vh;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.btn-names {
    font-size: 3vh;
    margin-right: 1vw;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;
}

#line-break {
    background-color:antiquewhite;
    width: 12vw;
    height:.25vh;
}